.notification {
    background: #c0c0c0;
    font-size: 18px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}